 

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 25px;  
  justify-content: center;  
  margin-left: 25px;
  margin-top: 20px;
}

.card {
  max-width: 300px;  
  width: 100%; 
  padding: 10px; 
}


